.main__container__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  padding-right: 250px;
  padding-left: 250px;

}

.form_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.form_grupo {
  margin-bottom: 20px;
}

.form_label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.form_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.submit {
  text-align: center;
}

.submit_btn {
  background-color: #5b892f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.submit_btn:hover {
  background-color: #4a7025;
}

.container__img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.container__img img {
  max-width: 70%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
